{% load static %}
{% load catalog_templatetags %}
{% load mptt_tags %}
<div class="header-wrapper header">
    <div class="topbar-mobile d-block d-lg-none">
        <div class="container">
            <div class="row">
                <div class="col-2">
                    <a id="catalog-hamburger" class="catalog-hamburger d-block d-lg-none" href="#catalog">
                        <svg height="32px" style="enable-background:new 0 0 32 32;" viewBox="0 0 32 32" width="32px">
                            <path
                                    d="M4,10h24c1.104,0,2-0.896,2-2s-0.896-2-2-2H4C2.896,6,2,6.896,2,8S2.896,10,4,10z M28,14H4c-1.104,0-2,0.896-2,2  s0.896,2,2,2h24c1.104,0,2-0.896,2-2S29.104,14,28,14z M28,22H4c-1.104,0-2,0.896-2,2s0.896,2,2,2h24c1.104,0,2-0.896,2-2  S29.104,22,28,22z"/>
                        </svg>
                    </a>
                </div>
                <div class="col-10">
                    <div>
                        <a href="tel:+74212725555"
                           class="topbar-mobile__phone">+7&nbsp;(4212)&nbsp;72&nbsp;55&nbsp;55</a> /
                        <strong><a href="tel:88001003122" class="topbar-mobile__phone">8&nbsp;800&nbsp;100&nbsp;31&nbsp;22</a></strong>
                    </div>
                    <div class="row" style="margin-top: 10px">
                        <div class="col-10">
                            <a href="#" class="tc-link link-popup uppercase" data-remodal-target="callme">Заказать
                                звонок</a>
                        </div>
                        <div class="col-2">
                            <div class="topbar-mobile__login">
                                <div class="topbar-mobile__login-list">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="topbar d-lg-block d-none">
        <div class="container">
            <div class="row">
                <div class="col-lg-2 t-socials d-none d-lg-block">
                    <div class="socials">
                        <a href="https://www.instagram.com/jeleziaka/" class="s-item">
                            <i class="icon icon-instagram"></i>
                        </a>
                        <a href="https://vk.com/jeleziaka27" class="s-item">
                            <i class="icon icon-vkontakte"></i>
                        </a>
                        <a href="https://ok.ru/group/54469516132543" class="s-item">
                            <i class="icon icon-odnoklassniki"></i>
                        </a>
                    </div>
                </div>
                <div class="col-md-3 col-5 order-last order-lg-2">
                    <div class="t-login">
                        {% if user.is_authenticated %}
                        <a href="#">
                            {{ user.username }}
                        </a>
                        {% else %}
                        <a href="{% url 'auth:login' %}">Вход</a>
                        /
                        <a href="{% url 'auth:register' %}">Регистрация</a>
                        {% endif %}
                    </div>
                </div>
                <div class="col-md-4 col-7 t-phone order-2">
                    <a href="tel:+74212725555">+7&nbsp;(4212)&nbsp;72&nbsp;55&nbsp;55</a> / <strong><a
                        href="tel:88001003122">8&nbsp;800&nbsp;100&nbsp;31&nbsp;22</a></strong>
                </div>
                <div class="col-md-3 col-10 t-callback text-right order-lg-last order-3">
                    <a href="#" class="tc-link link-popup uppercase" data-remodal-target="callme">Заказать обратный
                        звонок</a>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-2 col-6">
                <div class="logo">
                    {% if request.path != '/' %}
                    <a href="{% url 'main:index' %}" title="На главную">
                        <img src="{% static 'img/logo.png' %}" alt="логотип">
                    </a>
                    {% else %}
                    <img src="{% static 'img/logo.png' %}" alt="логотип">
                    {% endif %}
                </div>
            </div>
            <div class="col-lg-8 col-md-7 col-12 order-last order-sm-2">
                <div class="search-wrapper">

                </div>
            </div>
            <div class="col-xl-2 col-lg-2 col-md-3 col-6 order-1 order-md-2 d-flex align-self-center">

            </div>
        </div>
        <div class="row main-menu-wrapper">
            <div class="col-xl-2 col-lg-2 d-lg-block d-none order-lg-first order-last">
                <div class="all-category">
                    <div class="ac-inner">
                        <a>Каталог</a>
                    </div>
                    {% catalog_list %}
                </div>
            </div>
            <div class="col-lg-8 order-lg-2">
                <div class="main-menu">
                    <div class="menu-wrapper">
                        <div class="close-menu d-block d-lg-none" id="close-menu">
                            <svg x="0px" y="0px" viewBox="0 0 47.971 47.971"
                                 style="enable-background:new 0 0 47.971 47.971;" xml:space="preserve"><g>
                                    <path d="M28.228,23.986L47.092,5.122c1.172-1.171,1.172-3.071,0-4.242c-1.172-1.172-3.07-1.172-4.242,0L23.986,19.744L5.121,0.88
		c-1.172-1.172-3.07-1.172-4.242,0c-1.172,1.171-1.172,3.071,0,4.242l18.865,18.864L0.879,42.85c-1.172,1.171-1.172,3.071,0,4.242
		C1.465,47.677,2.233,47.97,3,47.97s1.535-0.293,2.121-0.879l18.865-18.864L42.85,47.091c0.586,0.586,1.354,0.879,2.121,0.879
		s1.535-0.293,2.121-0.879c1.172-1.171,1.172-3.071,0-4.242L28.228,23.986z"/>
                                </g></svg>
                        </div>
                        <ul class="menu">
                            {% recursetree menu %}
                            <li>
                                <a href="#">{{ node.name }}</a>
                                {% if not node.is_leaf_node %}
                                <ul class="menu">
                                    {{ children }}
                                </ul>
                                {% endif %}
                            </li>
                            {% endrecursetree %}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-xl-2 col-lg-2 col-md-4 col-sm-4 col-12 order-first order-lg-last">
                <a href="#" class="mmw-link" data-remodal-target="service">
                    Запись <br>в автосервис
                </a>
            </div>
        </div>
    </div>
</div> <!--header-wrapper-end-->